*{
	box-sizing: border-box;
}
body{
	margin: 5;
	font-family: Arial;
}

.header{
text-align: center;
padding: 10px;
background-color: grey;
height: 50px;
}

.left{
	float: left;
	background-color: red;
	width: 50px;
	height: 50px;	
	overflow: hidden;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.column{
	float: left;
	width: 50%;	
}
.footer{
	position: fixed;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

@media screen and (max-width: 600px)
{
	body{
		padding: 20px;
	}
}